.header{
    background-color: lightblue;
}
 
.main{
    background-color:none;
}
.content_l{
    background-color:none;

}
.content_r{
    background-color: none;

}
.footer{
    background-color: none;

}

.navigation {
    background-color:none;
}