body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header {
    flex: 1;
    margin: 10 0 10 0;
}

.navigation{
    list-style: none;
    display: flex;
    align-items: baseline;
    justify-content: start;
}

.title,
.home,
.about,
.prices {
    margin-right: 5em;
}

.title {
    font-size: 50px;
}

.container {
    border: 5px solid #ffcc5c;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.main {
    flex: 5;
    display: flex;
} 

.content_l,
.content_r{
    flex: 1;
    margin: 10;
    text-align: center;
    padding: 5 5 5 5;
}

.footer {
    flex: 1;
    margin: 10 0 10 0;
    text-align: center;
    justify-content: center;
}