body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.header {
    flex: 1;
    margin: 10 0 10 0;
}

.navigation{
    list-style: none;
    display: flex;
    flex: 1;
    align-items: baseline;
    justify-content: space-around;
}

.navigation a {
    margin-right: 5em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navigation a:hover{
    background-color: #71cfee;
}

.logo {
    width: 7%;
    height: auto;
    margin-top: 1em;
}

.container {
    border: 5px solid black;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.main {
    flex: 5;
    display: flex;
} 

.content_r,
.content_l {
    flex: 1;
    margin: 10;
    text-align: center;
}

.footer {
    flex: 1;
    margin: 10 0 10 0;
    text-align: center;
    justify-content: center;
}

.social-media-links {
    font-size: 28px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}

.social-media-links a:hover {
    font-size: 36px;
    transition: 0.5s ease-out;
}
  
@media screen and (max-width: 800px) {
    .container{
        height: auto;
    }
    .logo {
        margin-left: 2.2em;
    }
    .navigation {
        flex-direction: column;
    }
    .home,
    .about,
    .prices{
        padding-top: 1em;
    }
    .main{
        flex-direction: column;
    }
}