body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header {
    flex: 1;
    margin: 10 0 10 0;
}

.navigation{
    list-style: none;
    display: flex;
    flex: 1;
    align-items: baseline;
    justify-content: space-around;
}

.navigation a {
    margin-right: 5em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navigation a:hover{
    background-color: #71cfee;
}

.title {
    font-size: 50px;
}

.container {
    border: 5px solid black;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.main {
    flex: 5;
    display: flex;
} 

.content_l,
.content_r{
    flex: 1;
    margin: 10;
    text-align: center;
    padding: 5 5 5 5;
}

.footer {
    flex: 1;
    margin: 10 0 10 0;
    text-align: center;
    justify-content: center;
}
  
@media screen and (max-width: 800px) {
    .navigation {
        flex-direction: column;
    }
    .home,
    .about,
    .prices{
        padding-top: 1em;
    }
    .main{
        flex-direction: column;
    }
}